.timeline11-max-width {
  gap: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.timeline11-container01 {
  gap: 32px;
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.timeline11-text {
  text-align: center;
}
.timeline11-timeline-container {
  flex: 1;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.timeline11-step1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
}
.timeline11-container02 {
  flex: 1;
  left: 0;
  right: 0;
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline11-container03 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline11-progress0 {
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 2px;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline11-container04 {
  gap: var(--dl-space-space-unit);
  width: 50%;
  display: flex;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline11-text02 {
  text-align: left;
}
.timeline11-step2 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.timeline11-container05 {
  flex: 1;
  left: 0;
  right: 0;
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline11-container06 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline11-progress01 {
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 2px;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline11-container07 {
  gap: var(--dl-space-space-unit);
  width: 50%;
  display: flex;
  align-items: flex-end;
  padding-top: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline11-text05 {
  text-align: right;
}
.timeline11-text06 {
  text-align: right;
}
.timeline11-step3 {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
}
.timeline11-container08 {
  flex: 1;
  left: 0;
  right: 0;
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline11-container09 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline11-progress02 {
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 2px;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline11-container10 {
  gap: var(--dl-space-space-unit);
  width: 50%;
  display: flex;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline11-text08 {
  text-align: left;
}
.timeline11-step4 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.timeline11-container11 {
  flex: 1;
  left: 0;
  right: 0;
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline11-container12 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline11-progress03 {
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 2px;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline11-container13 {
  gap: var(--dl-space-space-unit);
  width: 50%;
  display: flex;
  align-items: flex-end;
  padding-top: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline11-text11 {
  text-align: right;
}
.timeline11-text12 {
  text-align: right;
}
@media(max-width: 1200px) {
  .timeline11-max-width {
    align-items: stretch;
  }
  .timeline11-timeline-container {
    align-items: center;
  }
  .timeline11-container02 {
    left: 0px;
    right: 0px;
    margin: auto;
    align-items: center;
  }
}
@media(max-width: 767px) {
  .timeline11-container02 {
    right: auto;
  }
  .timeline11-container04 {
    width: 100%;
    padding-left: 48px;
  }
  .timeline11-text02 {
    text-align: left;
  }
  .timeline11-container05 {
    right: auto;
  }
  .timeline11-container07 {
    width: 100%;
    align-items: flex-start;
    padding-left: 48px;
  }
  .timeline11-text05 {
    text-align: left;
  }
  .timeline11-text06 {
    text-align: left;
  }
  .timeline11-container08 {
    right: auto;
  }
  .timeline11-container10 {
    width: 100%;
    padding-left: 48px;
  }
  .timeline11-text08 {
    text-align: left;
  }
  .timeline11-container11 {
    right: auto;
  }
  .timeline11-container13 {
    width: 100%;
    align-items: flex-start;
    padding-left: 48px;
  }
  .timeline11-text11 {
    text-align: left;
  }
  .timeline11-text12 {
    text-align: left;
  }
}

.experience-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.experience-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.experience-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.experience-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.experience-navlink {
  display: contents;
}
.experience-image {
  width: 39px;
  height: 36px;
  object-fit: cover;
  text-decoration: none;
}
.experience-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.experience-links {
  display: flex;
  justify-content: flex-end;
}
.experience-text {
  margin-right: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
}
.experience-navlink1 {
  margin-right: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.experience-navlink2 {
  margin-right: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.experience-navlink3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.experience-navlink4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.experience-burger-menu {
  display: none;
}
.experience-burger-menu1 {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.experience-icon {
  width: 36px;
  height: 36px;
}
.experience-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.experience-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.experience-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.experience-navlink5 {
  display: contents;
}
.experience-image1 {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.experience-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.experience-icon02 {
  width: 16px;
  height: 16px;
}
.experience-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.experience-text01 {
  margin-bottom: var(--dl-space-space-unit);
}
.experience-navlink6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.experience-navlink7 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.experience-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.experience-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.experience-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.experience-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
}
.experience-features {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.experience-features1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.experience-heading-container {
  width: 569px;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.experience-container03 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
}
.experience-image2 {
  width: 125px;
  height: 125px;
  align-self: center;
  object-fit: cover;
}
.experience-text03 {
  margin-left: var(--dl-space-space-doubleunit);
  margin-bottom: 0px;
}
.experience-about-1 {
  width: 722px;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: center;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.experience-container04 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.experience-icon04 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.experience-text04 {
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Playfair Display";
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 1px;
  text-transform: none;
  text-decoration: none;
}
.experience-container05 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.experience-icon06 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.experience-text09 {
  text-align: left;
  font-family: "Playfair Display";
}
.experience-container06 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.experience-icon08 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.experience-text10 {
  text-align: left;
  font-family: "Playfair Display";
}
.experience-container07 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.experience-icon10 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.experience-text13 {
  text-align: left;
  font-family: "Playfair Display";
}
.experience-container08 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.experience-icon12 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.experience-text16 {
  text-align: left;
  font-family: "Playfair Display";
}
.experience-container09 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.experience-icon14 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.experience-text17 {
  text-align: left;
  font-family: "Playfair Display";
}
.experience-features2 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.experience-features3 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.experience-heading-container1 {
  width: 569px;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.experience-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.experience-image3 {
  width: 104px;
  height: 104px;
  align-self: center;
  object-fit: cover;
}
.experience-text20 {
  margin-left: var(--dl-space-space-doubleunit);
  margin-bottom: 0px;
}
.experience-about-11 {
  width: 722px;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: center;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.experience-container11 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.experience-icon16 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.experience-text21 {
  text-align: left;
  font-family: "Playfair Display";
}
.experience-container12 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.experience-icon18 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.experience-text22 {
  text-align: left;
  font-family: "Playfair Display";
}
.experience-container13 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.experience-icon20 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.experience-text25 {
  text-align: left;
  font-family: "Playfair Display";
}
.experience-container14 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.experience-icon22 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.experience-text28 {
  text-align: left;
  font-family: "Playfair Display";
}
.experience-container15 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.experience-icon24 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.experience-text31 {
  text-align: left;
  font-family: "Playfair Display";
}
.experience-container16 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
}
.experience-features4 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.experience-features5 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.experience-heading-container2 {
  width: 569px;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.experience-container17 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.experience-image4 {
  width: 108px;
  height: 94px;
  align-self: center;
  object-fit: cover;
}
.experience-text34 {
  margin-left: var(--dl-space-space-doubleunit);
  margin-bottom: 0px;
}
.experience-about-12 {
  width: 722px;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: center;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.experience-container18 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.experience-icon26 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.experience-text35 {
  text-align: left;
  font-family: "Playfair Display";
}
.experience-container19 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.experience-icon28 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.experience-text36 {
  text-align: left;
  font-family: "Playfair Display";
}
.experience-container20 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.experience-icon30 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.experience-text39 {
  text-align: left;
  font-family: "Playfair Display";
}
.experience-container21 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.experience-icon32 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.experience-text40 {
  text-align: left;
  font-family: "Playfair Display";
}
.experience-container22 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.experience-icon34 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.experience-text41 {
  text-align: left;
  font-family: "Playfair Display";
}
.experience-container23 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.experience-icon36 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.experience-text42 {
  text-align: left;
  font-family: "Playfair Display";
}
.experience-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.experience-section-separator3 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.experience-section-separator4 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.experience-section-separator5 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.experience-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.experience-footer-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.experience-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.experience-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.experience-link {
  display: contents;
}
.experience-image5 {
  width: 26px;
  height: 25px;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.experience-link1 {
  display: contents;
}
.experience-image6 {
  width: 25px;
  height: 25px;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.experience-link2 {
  display: contents;
}
.experience-image7 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.experience-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.experience-icon38 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
@media(max-width: 1600px) {
  .experience-desktop-menu {
    justify-content: flex-end;
  }
  .experience-text {
    margin-left: var(--dl-space-space-fourunits);
  }
  .experience-navlink1 {
    margin-left: var(--dl-space-space-fourunits);
  }
  .experience-navlink2 {
    margin-left: var(--dl-space-space-fourunits);
  }
  .experience-navlink3 {
    margin-left: var(--dl-space-space-fourunits);
  }
  .experience-navlink4 {
    margin-left: var(--dl-space-space-fourunits);
  }
  .experience-container03 {
    align-items: center;
  }
  .experience-image2 {
    width: 125px;
    height: 125px;
  }
  .experience-text03 {
    margin-left: var(--dl-space-space-doubleunit);
    margin-bottom: 0px;
  }
  .experience-container10 {
    align-items: center;
  }
  .experience-image3 {
    width: 104px;
    height: 104px;
  }
  .experience-text20 {
    margin-left: var(--dl-space-space-doubleunit);
    margin-bottom: 0px;
  }
  .experience-container17 {
    align-items: center;
  }
  .experience-image4 {
    width: 110px;
    height: 96px;
  }
  .experience-text34 {
    margin-left: var(--dl-space-space-doubleunit);
    margin-bottom: 0px;
  }
  .experience-image5 {
    width: 24px;
    height: 24px;
    margin-right: var(--dl-space-space-doubleunit);
  }
  .experience-image6 {
    width: 23px;
    height: 23px;
    margin-right: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 1200px) {
  .experience-text {
    margin-left: var(--dl-space-space-tripleunit);
  }
  .experience-navlink1 {
    margin-left: var(--dl-space-space-tripleunit);
  }
  .experience-navlink2 {
    margin-left: var(--dl-space-space-tripleunit);
  }
  .experience-navlink3 {
    margin-left: var(--dl-space-space-tripleunit);
  }
  .experience-navlink4 {
    margin-left: var(--dl-space-space-tripleunit);
  }
  .experience-container03 {
    align-items: center;
  }
  .experience-image2 {
    width: 130px;
    height: 130px;
  }
  .experience-text03 {
    margin-left: var(--dl-space-space-doubleunit);
    margin-bottom: 0px;
  }
  .experience-container10 {
    align-items: center;
    margin-left: 0px;
  }
  .experience-image3 {
    width: 111px;
    height: 111px;
  }
  .experience-text20 {
    margin-left: var(--dl-space-space-doubleunit);
    margin-bottom: 0px;
  }
  .experience-container17 {
    width: 212px;
    height: 94px;
    align-items: center;
  }
  .experience-image4 {
    width: 93px;
    height: 81px;
  }
  .experience-text34 {
    height: 43px;
    margin-left: var(--dl-space-space-doubleunit);
    margin-bottom: 0px;
  }
  .experience-image5 {
    width: 23px;
    height: 23px;
    margin-right: var(--dl-space-space-doubleunit);
    padding-right: 0px;
  }
  .experience-image6 {
    width: 23px;
    height: 23px;
    align-self: center;
    margin-right: var(--dl-space-space-doubleunit);
  }
  .experience-image7 {
    width: 24px;
    height: 24px;
    align-self: center;
    margin-right: 0Unit;
  }
}
@media(max-width: 991px) {
  .experience-desktop-menu {
    flex-direction: column;
  }
  .experience-links {
    flex-direction: row;
  }
  .experience-text {
    margin-left: 0px;
    margin-right: var(--dl-space-space-tripleunit);
  }
  .experience-navlink1 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-tripleunit);
  }
  .experience-navlink2 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-tripleunit);
  }
  .experience-navlink3 {
    margin-left: 0px;
  }
  .experience-navlink4 {
    margin-left: 0px;
  }
  .experience-image1 {
    width: 46px;
    height: 44px;
  }
  .experience-text03 {
    text-align: center;
  }
  .experience-text20 {
    text-align: center;
  }
  .experience-text34 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .experience-navbar-interactive {
    position: relative;
  }
  .experience-desktop-menu {
    display: none;
  }
  .experience-links {
    display: none;
  }
  .experience-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .experience-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .experience-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .experience-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .experience-navlink4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .experience-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .experience-burger-menu1 {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .experience-icon {
    fill: var(--dl-color-gray-white);
  }
  .experience-text01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .experience-navlink6 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .experience-navlink7 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .experience-text02 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .experience-heading-container {
    width: 100%;
  }
  .experience-about-1 {
    width: 65%;
  }
  .experience-heading-container1 {
    width: 100%;
  }
  .experience-about-11 {
    width: 65%;
  }
  .experience-heading-container2 {
    width: 100%;
  }
  .experience-about-12 {
    width: 65%;
  }
}
@media(max-width: 479px) {
  .experience-burger-menu1 {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .experience-mobile-menu {
    padding: 16px;
  }
  .experience-container03 {
    height: 128px;
    align-self: flex-start;
    align-items: center;
  }
  .experience-image2 {
    width: 128px;
    height: 104px;
  }
  .experience-text03 {
    height: 49px;
    align-self: flex-start;
    margin-left: var(--dl-space-space-doubleunit);
    margin-bottom: 0px;
  }
  .experience-about-1 {
    width: 100%;
  }
  .experience-container10 {
    align-items: center;
    margin-bottom: 0px;
  }
  .experience-image3 {
    width: 110px;
    height: 110px;
    padding: 0px;
    align-self: flex-start;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .experience-text20 {
    align-self: center;
    margin-left: var(--dl-space-space-doubleunit);
    margin-bottom: 0px;
  }
  .experience-about-11 {
    width: 100%;
  }
  .experience-text21 {
    font-family: Playfair Display;
  }
  .experience-container17 {
    height: 128px;
    align-items: center;
  }
  .experience-image4 {
    width: 152px;
    height: 122px;
    padding: 0px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .experience-text34 {
    height: 49px;
    margin-left: var(--dl-space-space-doubleunit);
    margin-bottom: 0px;
  }
  .experience-about-12 {
    width: 100%;
  }
}
