.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-navlink {
  display: contents;
}
.home-image {
  width: 39px;
  height: 36px;
  object-fit: cover;
  text-decoration: none;
}
.home-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.home-links {
  display: flex;
  justify-content: flex-end;
}
.home-text {
  margin-right: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
}
.home-navlink1 {
  margin-right: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink2 {
  margin-right: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-burger-menu {
  display: none;
}
.home-burger-menu1 {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon {
  width: 36px;
  height: 36px;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.home-navlink5 {
  display: contents;
}
.home-image01 {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: 16px;
  height: 16px;
}
.home-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-text001 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-navlink6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink7 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-text002 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
}
.home-hero {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  background-color: #f1f1f1;
}
.home-hero-text-container {
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading {
  color: #040404;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text003 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-fiveunits);
}
.home-cta-btn-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-cta-btn {
  color: var(--dl-color-gray-white);
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: #c9c9c9;
}
.home-text007 {
  color: #101010;
}
.home-cta-btn1 {
  color: var(--dl-color-gray-black);
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-gray-white);
}
.home-container03 {
  width: 40%;
  height: 495px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://play.teleporthq.io/static/svg/default-img.svg');
  background-position: center;
}
.home-image02 {
  width: 515px;
  height: 495px;
  object-fit: cover;
}
.home-features {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container {
  width: 569px;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.home-text008 {
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text009 {
  font-style: normal;
  text-align: center;
  font-family: "Playfair Display";
  font-weight: 600;
}
.home-about-1 {
  width: 722px;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: center;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.home-container04 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-icon04 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-text010 {
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Playfair Display";
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 1px;
  text-transform: none;
  text-decoration: none;
}
.home-container05 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-icon06 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-text013 {
  text-align: left;
  font-family: "Playfair Display";
}
.home-container06 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-icon08 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-text014 {
  text-align: left;
  font-family: "Playfair Display";
}
.home-container07 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-icon10 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-text017 {
  text-align: left;
  font-family: "Playfair Display";
}
.home-container08 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-icon12 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-text020 {
  text-align: left;
  font-family: "Playfair Display";
}
.home-container09 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-icon14 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-text021 {
  text-align: left;
  font-family: "Playfair Display";
}
.home-max-content-width-container {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  background-color: #D9D9D9;
}
.home-heading-container1 {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-text024 {
  width: auto;
  align-self: center;
  text-align: center;
}
.home-content-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: center;
}
.home-about-11 {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: stretch;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-900);
}
.home-container10 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-image03 {
  width: 70px;
  height: 70px;
  align-self: center;
  object-fit: cover;
}
.home-text025 {
  text-align: left;
  font-family: "Playfair Display";
  padding-left: var(--dl-space-space-unit);
}
.home-text031 {
  font-weight: 700;
}
.home-container11 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-text033 {
  fill: var(--dl-color-gray-900);
  color: var(--dl-color-gray-900);
  text-align: left;
  font-family: "Playfair Display";
}
.home-about-12 {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: stretch;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-900);
}
.home-container12 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-image04 {
  width: 86px;
  height: 86px;
  align-self: center;
  object-fit: cover;
}
.home-text036 {
  font-style: normal;
  text-align: left;
  font-family: "Playfair Display";
  line-height: 1.55;
  padding-left: var(--dl-space-space-unit);
  letter-spacing: 1px;
  text-transform: none;
  text-decoration: none;
}
.home-text037 {
  font-size: 20px;
  font-weight: 700;
}
.home-text038 {
  font-size: 20px;
  font-weight: 700;
}
.home-text041 {
  font-size: 16px;
  font-weight: 700;
}
.home-container13 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-text044 {
  fill: var(--dl-color-gray-900);
  color: var(--dl-color-gray-900);
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Playfair Display";
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 1px;
  text-transform: none;
  text-decoration: none;
}
.home-about-13 {
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: stretch;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-900);
}
.home-container14 {
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-image05 {
  width: 65px;
  height: 57px;
  align-self: center;
  object-fit: cover;
}
.home-text047 {
  font-style: normal;
  text-align: left;
  font-family: "Playfair Display";
  line-height: 1.55;
  padding-left: var(--dl-space-space-unit);
  letter-spacing: 1px;
  text-transform: none;
  text-decoration: none;
}
.home-text048 {
  font-size: 20px;
  font-weight: 700;
}
.home-text052 {
  color: var(--dl-color-gray-black);
  font-size: 16px;
  font-style: normal;
  font-family: "Playfair Display";
  font-weight: 700;
  line-height: 1.55;
  letter-spacing: 1px;
  text-transform: none;
  text-decoration: none;
}
.home-container15 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-text055 {
  fill: var(--dl-color-gray-900);
  color: var(--dl-color-gray-900);
  text-align: left;
  font-family: "Playfair Display";
}
.home-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-clients {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container2 {
  width: 45%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-text057 {
  text-align: center;
}
.home-logo-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-container16 {
  width: 380px;
  height: 331px;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 0px;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: center;
}
.home-image06 {
  width: 200px;
  opacity: 0.5;
  padding: var(--dl-space-space-doubleunit);
  align-self: center;
  object-fit: cover;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.home-text058 {
  padding: var(--dl-space-space-unit);
  font-style: normal;
  text-align: center;
  font-family: "Playfair Display";
  line-height: 1.55;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  letter-spacing: 1px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-transform: none;
  text-decoration: none;
}
.home-text059 {
  font-size: 24px;
  font-weight: 700;
}
.home-text060 {
  font-size: 24px;
  font-style: normal;
  font-family: "Playfair Display";
  font-weight: bold;
  line-height: 1.55;
  letter-spacing: 1px;
  text-transform: none;
  text-decoration: none;
}
.home-text061 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-style: normal;
  font-family: "Playfair Display";
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 1px;
  text-transform: none;
  text-decoration: none;
}
.home-text062 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-style: normal;
  font-family: "Playfair Display";
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 1px;
  text-transform: none;
  text-decoration: none;
}
.home-text063 {
  font-size: 16px;
  font-weight: 700;
}
.home-container17 {
  width: 380px;
  height: 331px;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 0px;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: center;
}
.home-image07 {
  width: 180px;
  height: 166px;
  opacity: 0.5;
  align-self: center;
  object-fit: cover;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: 0px;
}
.home-text066 {
  padding: var(--dl-space-space-unit);
  font-style: normal;
  text-align: center;
  font-family: "Playfair Display";
  line-height: 1.55;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  letter-spacing: 1px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-transform: none;
  text-decoration: none;
}
.home-text067 {
  font-size: 24px;
  font-weight: 700;
}
.home-text068 {
  font-size: 24px;
  font-weight: bold;
}
.home-text069 {
  font-size: 20px;
}
.home-text070 {
  font-size: 20px;
}
.home-text071 {
  font-size: 16px;
  font-weight: 700;
}
.home-container18 {
  width: 380px;
  height: 331px;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 0px;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: center;
}
.home-image08 {
  width: 172px;
  height: 172px;
  opacity: 0.5;
  padding: var(--dl-space-space-doubleunit);
  align-self: center;
  object-fit: cover;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.home-text074 {
  padding: var(--dl-space-space-unit);
  font-style: normal;
  text-align: center;
  font-family: "Playfair Display";
  line-height: 1.55;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  letter-spacing: 1px;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-transform: none;
  text-decoration: none;
}
.home-text075 {
  font-size: 24px;
  font-weight: 700;
}
.home-text076 {
  font-size: 24px;
}
.home-text077 {
  font-size: 20px;
}
.home-text078 {
  font-size: 20px;
}
.home-text079 {
  font-size: 16px;
  font-weight: 700;
}
.home-pricing {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container3 {
  width: 45%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-text082 {
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-pricing-card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-card {
  width: 30%;
  display: flex;
  min-width: 350px;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
}
.home-card-heading {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-gray-900);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-type {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-type1 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-card-content {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home-feature {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-name {
  font-family: "Playfair Display";
}
.home-feature1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-name1 {
  font-family: "Playfair Display";
}
.home-feature2 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-name2 {
  font-family: "Playfair Display";
}
.home-feature3 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
}
.home-name3 {
  font-family: "Playfair Display";
}
.home-card1 {
  width: 30%;
  display: flex;
  min-width: 350px;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
}
.home-card-heading1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-gray-900);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-type2 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-type3 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-card2 {
  width: 30%;
  display: flex;
  min-width: 350px;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
}
.home-card-heading2 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-gray-900);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-type4 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-type5 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-card-content1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home-container19 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
}
.home-section-separator3 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-section-separator4 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-faqs {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
}
.home-text097 {
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-content-container1 {
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-faq {
  width: 85%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.home-question-container {
  width: 100%;
  align-self: center;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 700;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-gray-900);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-question {
  font-size: 18px;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 700;
}
.home-answer-container {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  font-style: normal;
  font-family: Open Sans;
  font-weight: 700;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-answer {
  margin-bottom: var(--dl-space-space-unit);
}
.home-faq1 {
  width: 85%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.home-question-container1 {
  width: 100%;
  align-self: center;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 700;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-gray-900);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-question1 {
  font-size: 18px;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 700;
}
.home-answer-container1 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  font-style: normal;
  font-family: Open Sans;
  font-weight: 700;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-answer2 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-faqs1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
}
.home-text098 {
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-content-container2 {
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-faq2 {
  width: 85%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.home-question-container2 {
  width: 100%;
  align-self: center;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 700;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-gray-900);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-question2 {
  font-size: 18px;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 700;
}
.home-answer-container2 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  font-style: normal;
  font-family: Open Sans;
  font-weight: 700;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-answer5 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text103 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text105 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-faq3 {
  width: 85%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.home-question-container3 {
  width: 100%;
  align-self: center;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 700;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-gray-900);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-question3 {
  font-size: 18px;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 700;
}
.home-answer-container3 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  font-style: normal;
  font-family: Open Sans;
  font-weight: 700;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-section-separator5 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-subscribe {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-image09 {
  width: 50%;
  object-fit: cover;
}
.home-container20 {
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home-heading-container4 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-text111 {
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-textinput {
  width: 50%;
  padding-top: var(--dl-space-space-doubleunit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-link {
  color: var(--dl-color-gray-white);
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-section-separator6 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-link1 {
  display: contents;
}
.home-image10 {
  width: 26px;
  height: 25px;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.home-link2 {
  display: contents;
}
.home-image11 {
  width: 25px;
  height: 25px;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.home-link3 {
  display: contents;
}
.home-image12 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.home-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-icon16 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
@media(max-width: 1600px) {
  .home-desktop-menu {
    justify-content: flex-end;
  }
  .home-text {
    margin-left: var(--dl-space-space-fourunits);
  }
  .home-navlink1 {
    margin-left: var(--dl-space-space-fourunits);
  }
  .home-navlink2 {
    margin-left: var(--dl-space-space-fourunits);
  }
  .home-navlink3 {
    margin-left: var(--dl-space-space-fourunits);
  }
  .home-navlink4 {
    margin-left: var(--dl-space-space-fourunits);
  }
  .home-container03 {
    height: 493px;
  }
  .home-image02 {
    width: 519px;
  }
  .home-text024 {
    text-align: center;
  }
  .home-text033 {
    fill: var(--dl-color-gray-900);
    color: var(--dl-color-gray-900);
  }
  .home-text044 {
    fill: var(--dl-color-gray-900);
    color: var(--dl-color-gray-900);
  }
  .home-text055 {
    fill: var(--dl-color-gray-900);
    color: var(--dl-color-gray-900);
  }
  .home-container16 {
    border-width: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-image06 {
    width: 172px;
    height: 172px;
    opacity: 0.5;
  }
  .home-text058 {
    font-style: normal;
    font-family: Playfair Display;
    line-height: 1.55;
    letter-spacing: 1px;
    text-transform: none;
    text-decoration: none;
  }
  .home-text059 {
    font-size: 24px;
    font-weight: 700;
  }
  .home-text060 {
    font-size: 24px;
  }
  .home-text061 {
    color: var(--dl-color-gray-black);
    font-size: 20px;
    font-style: normal;
    font-family: Playfair Display;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: 1px;
    text-transform: none;
    text-decoration: none;
  }
  .home-text062 {
    color: var(--dl-color-gray-black);
    font-size: 20px;
    font-style: normal;
    font-family: Playfair Display;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: 1px;
    text-transform: none;
    text-decoration: none;
  }
  .home-text063 {
    font-size: 16px;
    font-weight: 700;
  }
  .home-container17 {
    border-width: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-image07 {
    width: 172px;
    height: 172px;
    opacity: 0.5;
  }
  .home-text066 {
    text-transform: none;
  }
  .home-text067 {
    font-size: 24px;
    font-weight: 700;
  }
  .home-text068 {
    font-size: 24px;
  }
  .home-text069 {
    font-size: 20px;
  }
  .home-text070 {
    font-size: 20px;
  }
  .home-text071 {
    font-size: 16px;
    font-weight: 700;
  }
  .home-container18 {
    border-width: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-image08 {
    width: 172px;
    height: 172px;
    opacity: 0.5;
  }
  .home-text074 {
    text-transform: none;
  }
  .home-text075 {
    font-size: 24px;
    font-weight: 700;
  }
  .home-text076 {
    font-size: 24px;
  }
  .home-text077 {
    font-size: 20px;
  }
  .home-text078 {
    font-size: 20px;
  }
  .home-text079 {
    font-size: 16px;
    font-weight: 700;
  }
  .home-type1 {
    text-transform: capitalize;
  }
  .home-text084 {
    color: var(--dl-color-gray-700);
  }
  .home-name {
    font-family: Playfair Display;
    margin-right: var(--dl-space-space-doubleunit);
  }
  .home-name1 {
    font-family: Playfair Display;
  }
  .home-name2 {
    font-family: Playfair Display;
  }
  .home-name3 {
    font-family: Playfair Display;
  }
  .home-card-heading1 {
    align-items: center;
    justify-content: center;
  }
  .home-price1 {
    text-align: center;
  }
  .home-type3 {
    font-size: 16px;
    font-family: Overpass;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
  }
  .home-text091 {
    color: var(--dl-color-gray-700);
  }
  .home-type5 {
    font-size: 16px;
    font-family: Overpass;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
  }
  .home-text094 {
    color: var(--dl-color-gray-700);
  }
  .home-text096 {
    font-family: Playfair Display;
  }
  .home-question2 {
    font-size: 18px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700;
  }
  .home-text101 {
    font-family: Playfair Display;
  }
  .home-question3 {
    font-size: 18px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700;
  }
  .home-text109 {
    font-family: Playfair Display;
  }
  .home-image10 {
    width: 24px;
    height: 24px;
    margin-right: var(--dl-space-space-doubleunit);
  }
  .home-image11 {
    width: 23px;
    height: 23px;
    margin-right: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 1200px) {
  .home-text {
    margin-left: var(--dl-space-space-tripleunit);
  }
  .home-navlink1 {
    margin-left: var(--dl-space-space-tripleunit);
  }
  .home-navlink2 {
    margin-left: var(--dl-space-space-tripleunit);
  }
  .home-navlink3 {
    margin-left: var(--dl-space-space-tripleunit);
  }
  .home-navlink4 {
    margin-left: var(--dl-space-space-tripleunit);
  }
  .home-container03 {
    height: 497px;
  }
  .home-image02 {
    width: 455px;
  }
  .home-text009 {
    font-style: normal;
    font-family: Playfair Display;
    font-weight: 600;
  }
  .home-text024 {
    text-align: center;
  }
  .home-container16 {
    border-width: 0px;
  }
  .home-image06 {
    opacity: 0.5;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
  }
  .home-container17 {
    border-width: 0px;
  }
  .home-image07 {
    opacity: 0.5;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
  }
  .home-text066 {
    text-transform: none;
  }
  .home-text067 {
    font-size: 20px;
    font-family: Playfair Display;
    font-weight: 700;
  }
  .home-text068 {
    font-size: 20px;
    font-family: Playfair Display;
    font-weight: 700;
  }
  .home-text069 {
    font-size: 20px;
  }
  .home-text070 {
    font-size: 20px;
    font-family: Roboto;
    font-weight: 700;
  }
  .home-text071 {
    font-size: 16px;
    font-family: Playfair Display;
    font-weight: 700;
  }
  .home-container18 {
    border-width: 0px;
  }
  .home-image08 {
    opacity: 0.5;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
  }
  .home-text074 {
    text-transform: none;
  }
  .home-text075 {
    font-size: 24px;
    font-weight: 700;
  }
  .home-text076 {
    font-size: 24px;
  }
  .home-text077 {
    font-size: 20px;
  }
  .home-text078 {
    font-size: 20px;
  }
  .home-text079 {
    font-size: 16px;
    font-weight: 700;
  }
  .home-answer1 {
    font-family: Playfair Display;
  }
  .home-question1 {
    font-size: 18px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700;
  }
  .home-answer3 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-family: Playfair Display;
    font-weight: 700;
    line-height: 1.55;
    letter-spacing: 1px;
    text-transform: none;
    text-decoration: none;
  }
  .home-question2 {
    font-size: 18px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700;
  }
  .home-text099 {
    font-size: 16px;
  }
  .home-text101 {
    font-family: Playfair Display;
  }
  .home-answer4 {
    font-family: Playfair Display;
  }
  .home-question3 {
    font-size: 18px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700;
  }
  .home-text107 {
    font-size: 18px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700;
  }
  .home-answer6 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-family: Playfair Display;
    font-weight: 700;
    line-height: 1.55;
    letter-spacing: 1px;
    text-transform: none;
    text-decoration: none;
  }
  .home-image09 {
    width: 50%;
    height: 373px;
  }
  .home-image10 {
    width: 23px;
    height: 23px;
    margin-right: var(--dl-space-space-doubleunit);
    padding-right: 0px;
  }
  .home-image11 {
    width: 23px;
    height: 23px;
    align-self: center;
    margin-right: var(--dl-space-space-doubleunit);
  }
  .home-image12 {
    width: 24px;
    height: 24px;
    align-self: center;
    margin-right: 0Unit;
  }
}
@media(max-width: 991px) {
  .home-desktop-menu {
    flex-direction: column;
  }
  .home-links {
    flex-direction: row;
  }
  .home-text {
    margin-left: 0px;
    margin-right: var(--dl-space-space-tripleunit);
  }
  .home-navlink1 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-tripleunit);
  }
  .home-navlink2 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-tripleunit);
  }
  .home-navlink3 {
    margin-left: 0px;
  }
  .home-navlink4 {
    margin-left: 0px;
  }
  .home-image01 {
    width: 46px;
    height: 44px;
  }
  .home-hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-hero-text-container {
    width: 80%;
    align-items: center;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-heading {
    text-align: center;
  }
  .home-text003 {
    text-align: center;
  }
  .home-container03 {
    width: 436px;
    height: 493px;
  }
  .home-image02 {
    width: 100%;
    height: 100%;
  }
  .home-text008 {
    text-align: center;
  }
  .home-text055 {
    color: var(--dl-color-gray-900);
    font-family: Playfair Display;
  }
  .home-logo-container {
    align-items: center;
    justify-content: center;
  }
  .home-container16 {
    border-width: 0px;
  }
  .home-image06 {
    opacity: 0.5;
  }
  .home-text058 {
    font-style: normal;
    font-family: Playfair Display;
    line-height: 1.55;
    letter-spacing: 1px;
    text-transform: none;
    text-decoration: none;
  }
  .home-text059 {
    font-size: 24px;
    font-weight: 700;
  }
  .home-text060 {
    font-size: 24px;
  }
  .home-text061 {
    color: var(--dl-color-gray-black);
    font-size: 20px;
    font-style: normal;
    font-family: Playfair Display;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: 1px;
    text-transform: none;
    text-decoration: none;
  }
  .home-text062 {
    color: var(--dl-color-gray-black);
    font-size: 20px;
    font-style: normal;
    font-family: Playfair Display;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: 1px;
    text-transform: none;
    text-decoration: none;
  }
  .home-text063 {
    font-size: 16px;
    font-weight: 700;
  }
  .home-container17 {
    border-width: 0px;
  }
  .home-image07 {
    opacity: 0.5;
  }
  .home-text066 {
    text-transform: none;
  }
  .home-text067 {
    font-size: 24px;
    font-family: Playfair Display;
    font-weight: 700;
  }
  .home-text068 {
    font-size: 24px;
    font-family: Playfair Display;
    font-weight: 700;
  }
  .home-text069 {
    font-size: 20px;
  }
  .home-text070 {
    font-size: 20px;
    font-family: Roboto;
    font-weight: 700;
  }
  .home-text071 {
    font-size: 16px;
    font-family: Playfair Display;
    font-weight: 700;
  }
  .home-container18 {
    border-width: 0px;
  }
  .home-image08 {
    opacity: 0.5;
  }
  .home-text074 {
    font-style: normal;
    font-family: Playfair Display;
    line-height: 1.55;
    letter-spacing: 1px;
    text-transform: none;
    text-decoration: none;
  }
  .home-text075 {
    font-size: 24px;
    font-weight: 700;
  }
  .home-text076 {
    font-size: 24px;
  }
  .home-text079 {
    font-size: 16px;
    font-weight: 700;
  }
  .home-pricing-card-container {
    justify-content: center;
  }
  .home-card {
    margin-right: var(--dl-space-space-fourunits);
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-name {
    font-family: Playfair Display;
  }
  .home-name1 {
    font-family: Playfair Display;
  }
  .home-name2 {
    font-family: Playfair Display;
  }
  .home-name3 {
    font-family: Playfair Display;
  }
  .home-card1 {
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-faq {
    width: 798px;
    align-items: center;
    justify-content: center;
  }
  .home-question-container {
    align-self: center;
  }
  .home-question {
    font-size: 18px;
    font-style: normal;
    text-align: center;
    font-family: Open Sans;
    font-weight: 700;
  }
  .home-answer-container {
    align-items: center;
    justify-content: center;
  }
  .home-faq2 {
    width: 798px;
    align-items: center;
    justify-content: center;
  }
  .home-question-container2 {
    align-self: center;
  }
  .home-question2 {
    font-size: 18px;
    font-style: normal;
    text-align: center;
    font-family: Open Sans;
    font-weight: 700;
  }
  .home-text099 {
    font-size: 18px;
    font-style: normal;
    text-align: center;
    font-family: Open Sans;
    font-weight: 700;
  }
  .home-text100 {
    font-size: 18px;
    font-style: normal;
    text-align: center;
    font-family: Open Sans;
    font-weight: 700;
  }
  .home-text101 {
    font-size: 18px;
    font-style: normal;
    text-align: center;
    font-family: Open Sans;
    font-weight: 700;
  }
  .home-answer-container2 {
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    position: relative;
  }
  .home-desktop-menu {
    display: none;
  }
  .home-links {
    display: none;
  }
  .home-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-navlink4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-burger-menu1 {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .home-icon {
    fill: var(--dl-color-gray-white);
  }
  .home-icon02 {
    flex: 1;
    width: 22px;
    height: 22px;
  }
  .home-text001 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-navlink6 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-navlink7 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text002 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-cta-btn {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
  .home-cta-btn1 {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
  .home-container03 {
    width: 510px;
    height: 494px;
    margin-right: var(--dl-space-space-unit);
  }
  .home-image02 {
    width: 493px;
  }
  .home-heading-container {
    width: 100%;
  }
  .home-about-1 {
    width: 65%;
  }
  .home-heading-container1 {
    width: 100%;
  }
  .home-text024 {
    text-align: center;
  }
  .home-content-container {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .home-about-11 {
    width: 65%;
  }
  .home-about-12 {
    width: 65%;
  }
  .home-about-13 {
    width: 65%;
  }
  .home-heading-container2 {
    width: 100%;
  }
  .home-logo-container {
    justify-content: center;
  }
  .home-heading-container3 {
    width: 100%;
  }
  .home-card {
    margin-right: 0px;
  }
  .home-content-container1 {
    width: 100%;
    flex-direction: column;
  }
  .home-faq {
    width: 100%;
  }
  .home-faq1 {
    width: 100%;
  }
  .home-content-container2 {
    width: 100%;
    flex-direction: column;
  }
  .home-faq2 {
    width: 100%;
  }
  .home-faq3 {
    width: 100%;
  }
  .home-subscribe {
    flex-direction: column;
  }
  .home-image09 {
    width: 70%;
  }
  .home-container20 {
    width: 100%;
    align-items: center;
  }
  .home-heading-container4 {
    width: 100%;
  }
  .home-text111 {
    text-align: center;
  }
  .home-textinput {
    width: 100%;
  }
  .home-link {
    width: 70%;
  }
}
@media(max-width: 479px) {
  .home-burger-menu1 {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-hero-text-container {
    width: 100%;
  }
  .home-cta-btn {
    z-index: 100;
  }
  .home-container03 {
    width: 440px;
    height: 497px;
    border-width: 0px;
  }
  .home-image02 {
    width: 100%;
    margin-top: 0px;
    border-color: var(--dl-color-gray-black);
    border-width: 0x;
  }
  .home-about-1 {
    width: 100%;
  }
  .home-about-11 {
    width: 100%;
  }
  .home-container10 {
    width: 100%;
    align-self: flex-start;
    justify-content: flex-start;
  }
  .home-image03 {
    padding: 0px;
    align-self: flex-start;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-text025 {
    font-family: Playfair Display;
    padding-left: var(--dl-space-space-doubleunit);
  }
  .home-text031 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .home-text033 {
    font-family: Playfair Display;
  }
  .home-text034 {
    color: var(--dl-color-gray-900);
  }
  .home-about-12 {
    width: 100%;
  }
  .home-container12 {
    flex: 0;
    width: 100%;
    justify-content: flex-start;
  }
  .home-text036 {
    padding-left: var(--dl-space-space-doubleunit);
  }
  .home-text044 {
    text-transform: none;
  }
  .home-text045 {
    color: var(--dl-color-gray-900);
  }
  .home-about-13 {
    width: 100%;
  }
  .home-container14 {
    width: 100%;
    justify-content: flex-start;
  }
  .home-image05 {
    padding: 0px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-text047 {
    padding-left: var(--dl-space-space-doubleunit);
  }
  .home-text056 {
    text-align: center;
  }
  .home-logo-container {
    align-self: center;
  }
  .home-container16 {
    border-color: var(--dl-color-gray-700);
    border-width: 0px;
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-image06 {
    opacity: 0.5;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .home-text058 {
    font-style: normal;
    font-family: Playfair Display;
    line-height: 1.55;
    padding-left: var(--dl-space-space-doubleunit);
    letter-spacing: 1px;
    text-transform: none;
    text-decoration: none;
  }
  .home-text059 {
    font-size: 24px;
    font-weight: 700;
  }
  .home-text060 {
    font-size: 24px;
    font-weight: 700;
  }
  .home-text061 {
    color: var(--dl-color-gray-black);
    font-size: 20px;
    font-style: normal;
    font-family: Playfair Display;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: 1px;
    text-transform: none;
    text-decoration: none;
  }
  .home-text062 {
    color: var(--dl-color-gray-black);
    font-size: 20px;
    font-style: normal;
    font-family: Playfair Display;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: 1px;
    text-transform: none;
    text-decoration: none;
  }
  .home-text063 {
    font-size: 16px;
    font-weight: 700;
  }
  .home-container17 {
    border-color: var(--dl-color-gray-700);
    border-width: 0px;
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-image07 {
    opacity: 0.5;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .home-text066 {
    font-style: normal;
    font-family: Playfair Display;
    line-height: 1.55;
    padding-left: var(--dl-space-space-doubleunit);
    letter-spacing: 1px;
    text-transform: none;
    text-decoration: none;
  }
  .home-text067 {
    font-size: 24px;
    font-family: Playfair Display;
    font-weight: 700;
  }
  .home-text068 {
    font-size: 24px;
    font-family: Playfair Display;
    font-weight: 700;
  }
  .home-text069 {
    font-size: 20px;
  }
  .home-text070 {
    font-size: 20px;
    font-family: Roboto;
    font-weight: 700;
  }
  .home-text071 {
    font-size: 16px;
    font-family: Playfair Display;
    font-weight: 700;
  }
  .home-container18 {
    border-color: var(--dl-color-gray-700);
    border-width: 0px;
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-image08 {
    opacity: 0.5;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .home-text074 {
    font-style: normal;
    font-family: Playfair Display;
    line-height: 1.55;
    padding-left: var(--dl-space-space-doubleunit);
    letter-spacing: 1px;
    text-transform: none;
    text-decoration: none;
  }
  .home-text075 {
    font-size: 24px;
    font-family: Playfair Display;
    font-weight: 700;
  }
  .home-text076 {
    font-size: 24px;
    font-family: Playfair Display;
    font-weight: 700;
  }
  .home-text077 {
    font-size: 20px;
  }
  .home-text078 {
    font-size: 20px;
    font-family: Roboto;
    font-weight: 700;
  }
  .home-text079 {
    font-size: 16px;
    font-family: Playfair Display;
    font-weight: 700;
  }
  .home-text082 {
    text-align: center;
  }
  .home-name {
    font-family: Playfair Display;
  }
  .home-name1 {
    font-family: Playfair Display;
  }
  .home-name2 {
    font-family: Playfair Display;
  }
  .home-name3 {
    font-family: Playfair Display;
  }
  .home-content-container1 {
    padding-left: 0px;
  }
  .home-content-container2 {
    padding-left: 0px;
  }
  .home-question2 {
    font-size: 18px;
  }
  .home-text099 {
    font-size: 18px;
  }
  .home-text100 {
    font-size: 18px;
  }
  .home-text101 {
    font-size: 18px;
  }
  .home-answer-container2 {
    align-items: flex-start;
  }
  .home-faq3 {
    align-items: flex-start;
  }
  .home-image09 {
    width: 100%;
    background-image: url("public/worldmap-1500w.png");
  }
  .home-container20 {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .home-link {
    width: 100%;
  }
}
