.hero1-max-width {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.hero1-container1 {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 35%;
  justify-content: flex-start;
}
.hero1-image1 {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
  flex-grow: 1;
  object-fit: cover;
}
.hero1-column {
  gap: 24px;
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.hero1-content {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.hero1-heading1 {
  font-size: 24px;
  font-style: normal;
  font-family: Overpass;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.hero1-column1 {
  gap: 24px;
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.hero1-content1 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.hero1-container3 {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 35%;
  justify-content: flex-start;
}
.hero1-image11 {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
  flex-grow: 1;
  object-fit: cover;
}

@media(max-width: 1600px) {
  .hero1-text {
    margin-top: var(--dl-space-space-fiveunits);
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .hero1-heading1 {
    font-size: 24px;
    align-self: flex-start;
    font-style: normal;
    font-family: Overpass;
    font-weight: 700;
    line-height: 1.55;
    margin-left: var(--dl-space-space-doubleunit);
    text-transform: none;
    text-decoration: none;
  }
  .hero1-text1 {
    font-size: 28px;
    font-family: Playfair Display;
  }
  .hero1-content1 {
    margin-right: var(--dl-space-space-doubleunit);
  }
  .hero1-heading11 {
    font-size: 28px;
    font-family: Playfair Display;
  }
  .hero1-content11 {
    font-family: Playfair Display;
  }
  .hero1-root-class-name {
    background-color: #f1f1f1;
  }
}
@media(max-width: 991px) {
  .hero1-container {
    flex-direction: column;
  }
  .hero1-container1 {
    width: 100%;
    padding-top: 56.25%;
  }
  .hero1-container2 {
    flex-direction: column;
  }
  .hero1-container3 {
    width: 100%;
    padding-top: 56.25%;
  }
}
@media(max-width: 767px) {
  .hero1-image1 {
    width: 100%;
  }
  .hero1-heading1 {
    margin-left: 0px;
  }
  .hero1-content1 {
    text-align: center;
  }
  .hero1-heading11 {
    text-align: center;
  }
  .hero1-content11 {
    text-align: center;
  }
  .hero1-image11 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .hero1-heading1 {
    margin-left: 0px;
  }
}

.gallery5-gallery3 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.gallery5-max-width {
  gap: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gallery5-section-title {
  gap: 24px;
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.gallery5-text {
  font-size: 48px;
  text-align: center;
  font-family: Overpass;
  font-weight: 900;
  line-height: 1.22;
  text-transform: none;
  text-decoration: none;
}
.gallery5-container {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.gallery5-content {
  gap: 24px;
  flex: 1;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.gallery5-container1 {
  gap: HalfUnits;
  flex: 1;
  width: 100%;
  height: 902px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery5-container2 {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 24px;
  justify-content: center;
}
.gallery5-image1 {
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: center;
  max-height: 700px;
}
.gallery5-image2 {
  width: 100%;
  height: 60%;
  max-height: 700px;
  object-fit: cover;
}
.gallery5-container3 {
  gap: 24px;
  flex: 1;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gallery5-image3 {
  width: 100%;
  height: 440px;
  max-height: 700px;
  object-fit: cover;
}
.gallery5-image4 {
  width: 100%;
  height: 440px;
  max-height: 700px;
  object-fit: cover;
}
@media(max-width: 1600px) {
  .gallery5-text {
    margin-top: var(--dl-space-space-fiveunits);
    margin-bottom: var(--dl-space-space-fiveunits);
  }
}
@media(max-width: 1200px) {
  .gallery5-image2 {
    width: 100%;
    height: 376px;
  }
  .gallery5-container3 {
    height: 820px;
  }
  .gallery5-image3 {
    height: 411px;
  }
  .gallery5-image4 {
    height: 311px;
  }
}
@media(max-width: 991px) {
  .gallery5-content {
    align-items: center;
    flex-direction: column;
  }
  .gallery5-container1 {
    height: auto;
  }
  .gallery5-image1 {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
  }
  .gallery5-image2 {
    height: 100%;
  }
  .gallery5-container3 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .gallery5-section-title {
    gap: 24px;
  }
}
@media(max-width: 479px) {
  .gallery5-image2 {
    height: 60%;
    max-height: 400px;
  }
}

.projects-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.projects-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.projects-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.projects-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.projects-navlink {
  display: contents;
}
.projects-image {
  width: 39px;
  height: 36px;
  object-fit: cover;
  text-decoration: none;
}
.projects-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.projects-links {
  display: flex;
  justify-content: flex-end;
}
.projects-text {
  margin-right: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
}
.projects-navlink1 {
  margin-right: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.projects-navlink2 {
  margin-right: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.projects-text001 {
  margin-bottom: var(--dl-space-space-unit);
}
.projects-burger-menu {
  display: none;
}
.projects-burger-menu1 {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.projects-icon {
  width: 36px;
  height: 36px;
}
.projects-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.projects-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.projects-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.projects-navlink3 {
  display: contents;
}
.projects-image1 {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.projects-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects-icon2 {
  width: 16px;
  height: 16px;
}
.projects-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.projects-text002 {
  margin-bottom: var(--dl-space-space-unit);
}
.projects-navlink4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.projects-navlink5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.projects-text003 {
  margin-bottom: var(--dl-space-space-unit);
}
.projects-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.projects-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.projects-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
}
.projects-project1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.projects-heading-container {
  width: 569px;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.projects-text004 {
  margin-bottom: var(--dl-space-space-fourunits);
}
.projects-about-1 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: stretch;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.projects-text005 {
  align-self: stretch;
  font-family: "Playfair Display";
}
.projects-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
}
.projects-project2 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.projects-about-11 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: stretch;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.projects-text044 {
  align-self: stretch;
  font-family: "Playfair Display";
}
.projects-container4 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
}
.projects-project3 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.projects-about-12 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: stretch;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.projects-text077 {
  align-self: stretch;
  font-family: "Playfair Display";
}
.projects-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.projects-section-separator3 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.projects-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.projects-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.projects-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.projects-link {
  display: contents;
}
.projects-image2 {
  width: 26px;
  height: 25px;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.projects-link1 {
  display: contents;
}
.projects-image3 {
  width: 25px;
  height: 25px;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.projects-link2 {
  display: contents;
}
.projects-image4 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.projects-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.projects-icon4 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
@media(max-width: 1600px) {
  .projects-desktop-menu {
    justify-content: flex-end;
  }
  .projects-text {
    margin-left: var(--dl-space-space-fourunits);
  }
  .projects-navlink1 {
    margin-left: var(--dl-space-space-fourunits);
  }
  .projects-navlink2 {
    margin-left: var(--dl-space-space-fourunits);
  }
  .projects-text001 {
    margin-left: var(--dl-space-space-fourunits);
  }
  .projects-container2 {
    background-color: transparent;
  }
  .projects-about-1 {
    width: auto;
    align-self: stretch;
    align-items: stretch;
    justify-content: center;
  }
  .projects-text005 {
    font-size: 20px;
    align-self: stretch;
    font-family: Playfair Display;
  }
  .projects-text006 {
    font-weight: 700;
  }
  .projects-text011 {
    font-weight: 700;
  }
  .projects-text019 {
    font-weight: 700;
  }
  .projects-text041 {
    font-weight: 700;
  }
  .projects-about-11 {
    width: auto;
    align-self: stretch;
    align-items: stretch;
    justify-content: center;
  }
  .projects-text044 {
    font-size: 20px;
    align-self: stretch;
    font-family: Playfair Display;
  }
  .projects-text045 {
    font-weight: 700;
  }
  .projects-text050 {
    font-weight: 700;
  }
  .projects-text052 {
    font-weight: 700;
  }
  .projects-text053 {
    font-weight: 700;
  }
  .projects-text054 {
    font-weight: 700;
  }
  .projects-text056 {
    font-weight: 700;
  }
  .projects-text057 {
    font-weight: 700;
  }
  .projects-text058 {
    font-weight: 700;
  }
  .projects-text060 {
    font-weight: 700;
  }
  .projects-text061 {
    font-weight: 700;
  }
  .projects-text063 {
    font-weight: 700;
  }
  .projects-text064 {
    font-weight: 700;
  }
  .projects-text066 {
    font-weight: 700;
  }
  .projects-text067 {
    font-weight: 700;
  }
  .projects-text069 {
    font-weight: 700;
  }
  .projects-text070 {
    font-weight: 700;
  }
  .projects-text072 {
    font-weight: 700;
  }
  .projects-text073 {
    font-weight: 700;
  }
  .projects-text074 {
    font-weight: 700;
  }
  .projects-container4 {
    background-color: transparent;
  }
  .projects-about-12 {
    width: auto;
    align-self: stretch;
    align-items: stretch;
    justify-content: center;
  }
  .projects-text077 {
    font-size: 20px;
    align-self: stretch;
    font-family: Playfair Display;
  }
  .projects-text078 {
    font-weight: 700;
  }
  .projects-text083 {
    font-weight: 700;
  }
  .projects-text085 {
    font-weight: 700;
  }
  .projects-text086 {
    font-weight: 700;
  }
  .projects-text088 {
    font-weight: 700;
  }
  .projects-text089 {
    font-weight: 700;
  }
  .projects-text090 {
    font-weight: 700;
  }
  .projects-text092 {
    font-weight: 700;
  }
  .projects-text093 {
    font-weight: 700;
  }
  .projects-text095 {
    font-weight: 700;
  }
  .projects-text096 {
    font-weight: 700;
  }
  .projects-text098 {
    font-weight: 700;
  }
  .projects-text099 {
    font-weight: 700;
  }
  .projects-text101 {
    font-weight: 700;
  }
  .projects-text102 {
    font-weight: 700;
  }
  .projects-text103 {
    font-weight: 700;
  }
  .projects-image2 {
    width: 24px;
    height: 24px;
    margin-right: var(--dl-space-space-doubleunit);
  }
  .projects-image3 {
    width: 23px;
    height: 23px;
    margin-right: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 1200px) {
  .projects-text {
    margin-left: var(--dl-space-space-tripleunit);
  }
  .projects-navlink1 {
    margin-left: var(--dl-space-space-tripleunit);
  }
  .projects-navlink2 {
    margin-left: var(--dl-space-space-tripleunit);
  }
  .projects-text001 {
    margin-left: var(--dl-space-space-tripleunit);
  }
  .projects-about-1 {
    width: auto;
    align-self: stretch;
    align-items: center;
    justify-content: center;
  }
  .projects-text006 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text007 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text008 {
    font-family: Playfair Display;
  }
  .projects-text009 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text010 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text011 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text012 {
    font-family: Playfair Display;
  }
  .projects-text013 {
    font-family: Playfair Display;
  }
  .projects-text014 {
    font-family: Playfair Display;
  }
  .projects-text015 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text016 {
    font-family: Playfair Display;
  }
  .projects-text017 {
    font-family: Playfair Display;
  }
  .projects-text018 {
    font-family: Playfair Display;
  }
  .projects-text019 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text020 {
    font-family: Playfair Display;
  }
  .projects-text021 {
    font-family: Playfair Display;
  }
  .projects-text022 {
    font-family: Playfair Display;
  }
  .projects-text023 {
    font-family: Playfair Display;
  }
  .projects-text024 {
    font-family: Playfair Display;
  }
  .projects-text025 {
    font-family: Playfair Display;
  }
  .projects-text026 {
    font-family: Playfair Display;
  }
  .projects-text027 {
    font-family: Playfair Display;
  }
  .projects-text028 {
    font-family: Playfair Display;
  }
  .projects-text029 {
    font-family: Playfair Display;
  }
  .projects-text030 {
    font-family: Playfair Display;
  }
  .projects-text031 {
    font-family: Playfair Display;
  }
  .projects-text032 {
    font-family: Playfair Display;
  }
  .projects-text033 {
    font-family: Playfair Display;
  }
  .projects-text034 {
    font-family: Playfair Display;
  }
  .projects-text035 {
    font-family: Playfair Display;
  }
  .projects-text036 {
    font-family: Playfair Display;
  }
  .projects-text037 {
    font-family: Playfair Display;
  }
  .projects-text038 {
    font-family: Playfair Display;
  }
  .projects-text039 {
    font-family: Playfair Display;
  }
  .projects-text040 {
    font-family: Playfair Display;
  }
  .projects-text041 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text042 {
    font-family: Playfair Display;
  }
  .projects-about-11 {
    width: auto;
    align-self: stretch;
    align-items: center;
    justify-content: center;
  }
  .projects-text052 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text053 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text056 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text057 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text060 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text061 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text063 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text064 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text066 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text067 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text069 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text070 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text072 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text073 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-about-12 {
    width: auto;
    align-self: stretch;
    align-items: center;
    justify-content: center;
  }
  .projects-text085 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text086 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text088 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text089 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text092 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text093 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text095 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text096 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text098 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text099 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text101 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text102 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-image2 {
    width: 23px;
    height: 23px;
    margin-right: var(--dl-space-space-doubleunit);
    padding-right: 0px;
  }
  .projects-image3 {
    width: 23px;
    height: 23px;
    align-self: center;
    margin-right: var(--dl-space-space-doubleunit);
  }
  .projects-image4 {
    width: 24px;
    height: 24px;
    align-self: center;
    margin-right: 0Unit;
  }
}
@media(max-width: 991px) {
  .projects-desktop-menu {
    flex-direction: column;
  }
  .projects-links {
    flex-direction: row;
  }
  .projects-text {
    margin-left: 0px;
    margin-right: var(--dl-space-space-tripleunit);
  }
  .projects-navlink1 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-tripleunit);
  }
  .projects-navlink2 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-tripleunit);
  }
  .projects-text001 {
    margin-left: 0px;
  }
  .projects-image1 {
    width: 46px;
    height: 44px;
  }
  .projects-text004 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .projects-navbar-interactive {
    position: relative;
  }
  .projects-desktop-menu {
    display: none;
  }
  .projects-links {
    display: none;
  }
  .projects-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .projects-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .projects-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .projects-text001 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .projects-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .projects-burger-menu1 {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .projects-icon {
    fill: var(--dl-color-gray-white);
  }
  .projects-text002 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .projects-navlink4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .projects-navlink5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .projects-text003 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .projects-heading-container {
    width: 100%;
  }
  .projects-about-1 {
    align-self: stretch;
  }
  .projects-text005 {
    align-self: stretch;
  }
  .projects-about-11 {
    align-self: stretch;
  }
  .projects-text044 {
    align-self: stretch;
  }
  .projects-about-12 {
    align-self: stretch;
  }
  .projects-text077 {
    align-self: stretch;
  }
}
@media(max-width: 479px) {
  .projects-burger-menu1 {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .projects-mobile-menu {
    padding: 16px;
  }
  .projects-about-1 {
    width: 100%;
  }
  .projects-about-11 {
    width: 100%;
  }
  .projects-about-12 {
    width: 100%;
  }
}
