.projects-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.projects-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.projects-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.projects-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.projects-navlink {
  display: contents;
}
.projects-image {
  width: 39px;
  height: 36px;
  object-fit: cover;
  text-decoration: none;
}
.projects-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.projects-links {
  display: flex;
  justify-content: flex-end;
}
.projects-text {
  margin-right: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
}
.projects-navlink1 {
  margin-right: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.projects-navlink2 {
  margin-right: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.projects-text001 {
  margin-bottom: var(--dl-space-space-unit);
}
.projects-burger-menu {
  display: none;
}
.projects-burger-menu1 {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.projects-icon {
  width: 36px;
  height: 36px;
}
.projects-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.projects-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.projects-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.projects-navlink3 {
  display: contents;
}
.projects-image1 {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.projects-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects-icon2 {
  width: 16px;
  height: 16px;
}
.projects-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.projects-text002 {
  margin-bottom: var(--dl-space-space-unit);
}
.projects-navlink4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.projects-navlink5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.projects-text003 {
  margin-bottom: var(--dl-space-space-unit);
}
.projects-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.projects-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.projects-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
}
.projects-hero {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  background-color: #f1f1f1;
}
.projects-features {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.projects-heading-container {
  width: 569px;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.projects-text004 {
  margin-bottom: var(--dl-space-space-fourunits);
}
.projects-about-1 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: stretch;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.projects-text005 {
  align-self: stretch;
  font-family: "Playfair Display";
}
.projects-features1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.projects-about-11 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: stretch;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.projects-features2 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.projects-about-12 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: stretch;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.projects-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.projects-features3 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.projects-heading-container1 {
  width: 569px;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.projects-text108 {
  margin-bottom: var(--dl-space-space-fourunits);
}
.projects-text109 {
  margin-bottom: var(--dl-space-space-fourunits);
}
.projects-about-13 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: stretch;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: flex-start;
}
.projects-image2 {
  width: 200px;
  object-fit: cover;
}
.projects-about-14 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: stretch;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: flex-start;
}
.projects-image3 {
  width: 200px;
  object-fit: cover;
}
.projects-features4 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.projects-heading-container2 {
  width: 569px;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.projects-text141 {
  margin-bottom: var(--dl-space-space-fourunits);
}
.projects-clients {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.projects-logo-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.projects-container3 {
  width: 380px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 331px;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 0px;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: center;
}
.projects-container4 {
  width: 380px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 331px;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 0px;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: center;
}
.projects-container5 {
  width: 380px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 331px;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 0px;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: center;
}
.projects-container6 {
  width: 380px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 331px;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 0px;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: center;
}
.projects-section-separator3 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.projects-section-separator4 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.projects-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.projects-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.projects-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.projects-link {
  display: contents;
}
.projects-image4 {
  width: 26px;
  height: 25px;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.projects-link1 {
  display: contents;
}
.projects-image5 {
  width: 25px;
  height: 25px;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.projects-link2 {
  display: contents;
}
.projects-image6 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.projects-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.projects-icon4 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
@media(max-width: 1600px) {
  .projects-desktop-menu {
    justify-content: flex-end;
  }
  .projects-text {
    margin-left: var(--dl-space-space-fourunits);
  }
  .projects-navlink1 {
    margin-left: var(--dl-space-space-fourunits);
  }
  .projects-navlink2 {
    margin-left: var(--dl-space-space-fourunits);
  }
  .projects-text001 {
    margin-left: var(--dl-space-space-fourunits);
  }
  .projects-about-1 {
    width: auto;
    align-self: stretch;
    align-items: stretch;
    justify-content: center;
  }
  .projects-text005 {
    align-self: stretch;
    font-family: Playfair Display;
  }
  .projects-text006 {
    font-weight: 700;
  }
  .projects-text011 {
    font-weight: 700;
  }
  .projects-text019 {
    font-weight: 700;
  }
  .projects-text041 {
    font-weight: 700;
  }
  .projects-about-11 {
    width: auto;
    align-self: stretch;
    align-items: stretch;
    justify-content: center;
  }
  .projects-about-12 {
    width: auto;
    align-self: stretch;
    align-items: stretch;
    justify-content: center;
  }
  .projects-about-13 {
    width: auto;
    align-self: stretch;
    align-items: stretch;
    justify-content: center;
  }
  .projects-about-14 {
    width: auto;
    align-self: stretch;
    align-items: stretch;
    justify-content: center;
  }
  .projects-container3 {
    border-width: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .projects-container4 {
    border-width: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .projects-container5 {
    border-width: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .projects-container6 {
    border-width: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .projects-image4 {
    width: 24px;
    height: 24px;
    margin-right: var(--dl-space-space-doubleunit);
  }
  .projects-image5 {
    width: 23px;
    height: 23px;
    margin-right: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 1200px) {
  .projects-text {
    margin-left: var(--dl-space-space-tripleunit);
  }
  .projects-navlink1 {
    margin-left: var(--dl-space-space-tripleunit);
  }
  .projects-navlink2 {
    margin-left: var(--dl-space-space-tripleunit);
  }
  .projects-text001 {
    margin-left: var(--dl-space-space-tripleunit);
  }
  .projects-about-1 {
    width: auto;
    align-self: stretch;
    align-items: center;
    justify-content: center;
  }
  .projects-text006 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text007 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text008 {
    font-family: Playfair Display;
  }
  .projects-text009 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text010 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text011 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text012 {
    font-family: Playfair Display;
  }
  .projects-text013 {
    font-family: Playfair Display;
  }
  .projects-text014 {
    font-family: Playfair Display;
  }
  .projects-text015 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text016 {
    font-family: Playfair Display;
  }
  .projects-text017 {
    font-family: Playfair Display;
  }
  .projects-text018 {
    font-family: Playfair Display;
  }
  .projects-text019 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text020 {
    font-family: Playfair Display;
  }
  .projects-text021 {
    font-family: Playfair Display;
  }
  .projects-text022 {
    font-family: Playfair Display;
  }
  .projects-text023 {
    font-family: Playfair Display;
  }
  .projects-text024 {
    font-family: Playfair Display;
  }
  .projects-text025 {
    font-family: Playfair Display;
  }
  .projects-text026 {
    font-family: Playfair Display;
  }
  .projects-text027 {
    font-family: Playfair Display;
  }
  .projects-text028 {
    font-family: Playfair Display;
  }
  .projects-text029 {
    font-family: Playfair Display;
  }
  .projects-text030 {
    font-family: Playfair Display;
  }
  .projects-text031 {
    font-family: Playfair Display;
  }
  .projects-text032 {
    font-family: Playfair Display;
  }
  .projects-text033 {
    font-family: Playfair Display;
  }
  .projects-text034 {
    font-family: Playfair Display;
  }
  .projects-text035 {
    font-family: Playfair Display;
  }
  .projects-text036 {
    font-family: Playfair Display;
  }
  .projects-text037 {
    font-family: Playfair Display;
  }
  .projects-text038 {
    font-family: Playfair Display;
  }
  .projects-text039 {
    font-family: Playfair Display;
  }
  .projects-text040 {
    font-family: Playfair Display;
  }
  .projects-text041 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text042 {
    font-family: Playfair Display;
  }
  .projects-features1 {
    background-color: var(--dl-color-gray-900);
  }
  .projects-about-11 {
    width: auto;
    align-self: stretch;
    align-items: center;
    justify-content: center;
  }
  .projects-text045 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text046 {
    font-family: Playfair Display;
  }
  .projects-text047 {
    font-family: Playfair Display;
  }
  .projects-text048 {
    font-family: Playfair Display;
  }
  .projects-text049 {
    font-family: Playfair Display;
  }
  .projects-text050 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text051 {
    font-family: Playfair Display;
  }
  .projects-text052 {
    font-family: Playfair Display;
  }
  .projects-text053 {
    font-family: Playfair Display;
  }
  .projects-text054 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text055 {
    font-family: Playfair Display;
  }
  .projects-text056 {
    font-family: Playfair Display;
  }
  .projects-text057 {
    font-family: Playfair Display;
  }
  .projects-text058 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text059 {
    font-family: Playfair Display;
  }
  .projects-text060 {
    font-family: Playfair Display;
  }
  .projects-text061 {
    font-family: Playfair Display;
  }
  .projects-text062 {
    font-family: Playfair Display;
  }
  .projects-text063 {
    font-family: Playfair Display;
  }
  .projects-text064 {
    font-family: Playfair Display;
  }
  .projects-text065 {
    font-family: Playfair Display;
  }
  .projects-text066 {
    font-family: Playfair Display;
  }
  .projects-text067 {
    font-family: Playfair Display;
  }
  .projects-text068 {
    font-family: Playfair Display;
  }
  .projects-text069 {
    font-family: Playfair Display;
  }
  .projects-text070 {
    font-family: Playfair Display;
  }
  .projects-text071 {
    font-family: Playfair Display;
  }
  .projects-text072 {
    font-family: Playfair Display;
  }
  .projects-text073 {
    font-family: Playfair Display;
  }
  .projects-text074 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text075 {
    font-family: Playfair Display;
  }
  .projects-about-12 {
    width: auto;
    align-self: stretch;
    align-items: center;
    justify-content: center;
  }
  .projects-text078 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text079 {
    font-family: Playfair Display;
  }
  .projects-text080 {
    font-family: Playfair Display;
  }
  .projects-text081 {
    font-family: Playfair Display;
  }
  .projects-text082 {
    font-family: Playfair Display;
  }
  .projects-text083 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text084 {
    font-family: Playfair Display;
  }
  .projects-text085 {
    font-family: Playfair Display;
  }
  .projects-text086 {
    font-family: Playfair Display;
  }
  .projects-text087 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text088 {
    font-family: Playfair Display;
  }
  .projects-text089 {
    font-family: Playfair Display;
  }
  .projects-text090 {
    font-family: Playfair Display;
  }
  .projects-text091 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text092 {
    font-family: Playfair Display;
  }
  .projects-text093 {
    font-family: Playfair Display;
  }
  .projects-text094 {
    font-family: Playfair Display;
  }
  .projects-text095 {
    font-family: Playfair Display;
  }
  .projects-text096 {
    font-family: Playfair Display;
  }
  .projects-text097 {
    font-family: Playfair Display;
  }
  .projects-text098 {
    font-family: Playfair Display;
  }
  .projects-text099 {
    font-family: Playfair Display;
  }
  .projects-text100 {
    font-family: Playfair Display;
  }
  .projects-text101 {
    font-family: Playfair Display;
  }
  .projects-text102 {
    font-family: Playfair Display;
  }
  .projects-text103 {
    font-family: Playfair Display;
  }
  .projects-text104 {
    font-family: Playfair Display;
    font-weight: 700;
  }
  .projects-text105 {
    font-family: Playfair Display;
  }
  .projects-features3 {
    background-color: #D9D9D9;
  }
  .projects-about-13 {
    width: auto;
    align-self: stretch;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .projects-image2 {
    width: 420px;
    height: 420px;
  }
  .projects-text111 {
    font-family: Playfair Display;
    margin-left: var(--dl-space-space-doubleunit);
  }
  .projects-text112 {
    font-size: 26px;
    font-weight: 700;
  }
  .projects-text113 {
    font-size: 26px;
    font-weight: 700;
  }
  .projects-text114 {
    font-size: 26px;
    font-weight: 700;
  }
  .projects-text115 {
    font-size: 20px;
  }
  .projects-text116 {
    font-size: 20px;
  }
  .projects-text117 {
    font-size: 20px;
  }
  .projects-text118 {
    font-size: 20px;
  }
  .projects-text119 {
    font-size: 20px;
  }
  .projects-text120 {
    font-size: 20px;
  }
  .projects-text121 {
    font-size: 20px;
  }
  .projects-text122 {
    font-size: 20px;
  }
  .projects-text123 {
    font-size: 20px;
  }
  .projects-text124 {
    font-size: 20px;
  }
  .projects-text125 {
    font-size: 20px;
  }
  .projects-text126 {
    font-size: 20px;
  }
  .projects-text127 {
    font-size: 20px;
  }
  .projects-about-14 {
    width: auto;
    align-self: stretch;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .projects-image3 {
    width: 494px;
    height: 276px;
  }
  .projects-text128 {
    font-family: Playfair Display;
    margin-left: var(--dl-space-space-doubleunit);
  }
  .projects-text129 {
    font-size: 26px;
    font-weight: 700;
  }
  .projects-text130 {
    font-size: 26px;
    font-weight: 700;
  }
  .projects-text131 {
    font-size: 26px;
    font-weight: 700;
  }
  .projects-text132 {
    font-size: 20px;
  }
  .projects-text133 {
    font-size: 20px;
    font-weight: 700;
  }
  .projects-text134 {
    font-size: 20px;
  }
  .projects-text135 {
    font-size: 20px;
    font-weight: 700;
  }
  .projects-text136 {
    font-size: 20px;
  }
  .projects-text137 {
    font-size: 20px;
    font-weight: 700;
  }
  .projects-text138 {
    font-size: 20px;
  }
  .projects-text139 {
    font-size: 20px;
    font-weight: 700;
  }
  .projects-text140 {
    font-size: 20px;
  }
  .projects-features4 {
    background-color: var(--dl-color-gray-white);
  }
  .projects-container3 {
    width: 536px;
    height: 361px;
    margin-top: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-unit);
    border-width: 0px;
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
    background-size: cover;
    background-image: url("public/android%20app%20development-400h.jpg");
  }
  .projects-container4 {
    width: 536px;
    height: 361px;
    margin-top: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-unit);
    border-width: 0px;
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
    background-size: cover;
    background-image: url("public/circuit%20experts-600w.jpg");
  }
  .projects-container5 {
    width: 610px;
    height: 343px;
    margin-top: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-unit);
    border-width: 0px;
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
    background-size: cover;
    background-image: url("public/somthing-400h.jpg");
  }
  .projects-container6 {
    width: 462px;
    height: 344px;
    margin-top: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-unit);
    border-width: 0px;
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
    background-size: cover;
    background-image: url("public/capmus%20point-400h.jpg");
  }
  .projects-image4 {
    width: 23px;
    height: 23px;
    margin-right: var(--dl-space-space-doubleunit);
    padding-right: 0px;
  }
  .projects-image5 {
    width: 23px;
    height: 23px;
    align-self: center;
    margin-right: var(--dl-space-space-doubleunit);
  }
  .projects-image6 {
    width: 24px;
    height: 24px;
    align-self: center;
    margin-right: 0Unit;
  }
}
@media(max-width: 991px) {
  .projects-desktop-menu {
    flex-direction: column;
  }
  .projects-links {
    flex-direction: row;
  }
  .projects-text {
    margin-left: 0px;
    margin-right: var(--dl-space-space-tripleunit);
  }
  .projects-navlink1 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-tripleunit);
  }
  .projects-navlink2 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-tripleunit);
  }
  .projects-text001 {
    margin-left: 0px;
  }
  .projects-image1 {
    width: 46px;
    height: 44px;
  }
  .projects-hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .projects-text004 {
    text-align: center;
  }
  .projects-text108 {
    text-align: center;
  }
  .projects-text109 {
    text-align: center;
  }
  .projects-text141 {
    text-align: center;
  }
  .projects-logo-container {
    align-items: center;
    justify-content: center;
  }
  .projects-container3 {
    border-width: 0px;
  }
  .projects-container4 {
    border-width: 0px;
  }
  .projects-container5 {
    border-width: 0px;
  }
  .projects-container6 {
    border-width: 0px;
  }
}
@media(max-width: 767px) {
  .projects-navbar-interactive {
    position: relative;
  }
  .projects-desktop-menu {
    display: none;
  }
  .projects-links {
    display: none;
  }
  .projects-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .projects-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .projects-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .projects-text001 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .projects-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .projects-burger-menu1 {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .projects-icon {
    fill: var(--dl-color-gray-white);
  }
  .projects-text002 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .projects-navlink4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .projects-navlink5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .projects-text003 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .projects-heading-container {
    width: 100%;
  }
  .projects-about-1 {
    align-self: stretch;
  }
  .projects-text005 {
    align-self: stretch;
  }
  .projects-about-11 {
    align-self: stretch;
  }
  .projects-about-12 {
    align-self: stretch;
  }
  .projects-heading-container1 {
    width: 100%;
  }
  .projects-about-13 {
    align-self: stretch;
  }
  .projects-about-14 {
    align-self: stretch;
  }
  .projects-heading-container2 {
    width: 100%;
  }
  .projects-logo-container {
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .projects-burger-menu1 {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .projects-mobile-menu {
    padding: 16px;
  }
  .projects-about-1 {
    width: 100%;
  }
  .projects-about-11 {
    width: 100%;
  }
  .projects-about-12 {
    width: 100%;
  }
  .projects-about-13 {
    width: 100%;
  }
  .projects-about-14 {
    width: 100%;
  }
  .projects-logo-container {
    align-self: center;
  }
  .projects-container3 {
    border-color: var(--dl-color-gray-700);
    border-width: 0px;
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .projects-container4 {
    border-color: var(--dl-color-gray-700);
    border-width: 0px;
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .projects-container5 {
    border-color: var(--dl-color-gray-700);
    border-width: 0px;
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .projects-container6 {
    border-color: var(--dl-color-gray-700);
    border-width: 0px;
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-fiveunits);
  }
}
