.timeline11-max-width {
  gap: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.timeline11-container01 {
  gap: 32px;
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.timeline11-text {
  text-align: center;
}
.timeline11-timeline-container {
  flex: 1;
  height: 100%;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
}
.timeline11-step1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
}
.timeline11-container02 {
  flex: 1;
  left: 0;
  right: 0;
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline11-container03 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline11-progress0 {
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 2px;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline11-container04 {
  gap: var(--dl-space-space-unit);
  width: 50%;
  display: flex;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline11-text02 {
  text-align: left;
}
.timeline11-text04 {
  text-align: left;
}
.timeline11-step2 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.timeline11-container05 {
  flex: 1;
  left: 0;
  right: 0;
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline11-container06 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline11-progress01 {
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 2px;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline11-container07 {
  gap: var(--dl-space-space-unit);
  width: 50%;
  display: flex;
  align-items: flex-end;
  padding-top: 0px;
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline11-text07 {
  text-align: right;
}
.timeline11-text08 {
  text-align: right;
}
.timeline11-step3 {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
}
.timeline11-container08 {
  flex: 1;
  left: 0;
  right: 0;
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline11-container09 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline11-progress02 {
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 2px;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline11-container10 {
  gap: var(--dl-space-space-unit);
  width: 50%;
  display: flex;
  padding-top: 0px;
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline11-text10 {
  text-align: left;
}
.timeline11-step4 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.timeline11-container11 {
  flex: 1;
  left: 0;
  right: 0;
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline11-container12 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline11-progress03 {
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 2px;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline11-container13 {
  gap: var(--dl-space-space-unit);
  width: 50%;
  display: flex;
  align-items: flex-end;
  padding-top: 0px;
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline11-text13 {
  text-align: right;
}
.timeline11-text14 {
  text-align: right;
}
.timeline11-step31 {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
}
.timeline11-container14 {
  flex: 1;
  left: 0;
  right: 0;
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline11-container15 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline11-progress04 {
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 2px;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline11-container16 {
  gap: var(--dl-space-space-unit);
  width: 50%;
  display: flex;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline11-text16 {
  text-align: left;
}
.timeline11-text17 {
  text-align: left;
}

@media(max-width: 1600px) {
  .timeline11-timeline-container {
    width: auto;
    align-self: stretch;
    align-items: center;
  }
}
@media(max-width: 1200px) {
  .timeline11-max-width {
    align-items: stretch;
  }
  .timeline11-timeline-container {
    align-items: center;
  }
  .timeline11-container02 {
    left: 0px;
    right: 0px;
    margin: auto;
    align-items: center;
  }
}
@media(max-width: 767px) {
  .timeline11-timeline-container {
    align-items: stretch;
  }
  .timeline11-container02 {
    right: auto;
  }
  .timeline11-container04 {
    width: 100%;
    padding-left: 48px;
  }
  .timeline11-text02 {
    text-align: left;
  }
  .timeline11-text04 {
    text-align: left;
  }
  .timeline11-container05 {
    right: auto;
  }
  .timeline11-container07 {
    width: 100%;
    align-items: flex-start;
    padding-left: 48px;
  }
  .timeline11-text07 {
    text-align: left;
  }
  .timeline11-text08 {
    text-align: left;
  }
  .timeline11-container08 {
    right: auto;
  }
  .timeline11-container10 {
    width: 100%;
    padding-left: 48px;
  }
  .timeline11-text10 {
    text-align: left;
  }
  .timeline11-container11 {
    right: auto;
  }
  .timeline11-container13 {
    width: 100%;
    align-items: flex-start;
    padding-left: 48px;
  }
  .timeline11-text13 {
    text-align: left;
  }
  .timeline11-text14 {
    text-align: left;
  }
  .timeline11-container14 {
    right: auto;
  }
  .timeline11-container16 {
    width: 100%;
    padding-left: 48px;
  }
  .timeline11-text16 {
    text-align: left;
  }
  .timeline11-text17 {
    text-align: left;
  }
}
@media(max-width: 479px) {
  .timeline11-container {
    align-items: stretch;
    justify-content: center;
  }
  .timeline11-timeline-container {
    align-items: stretch;
  }
}
